@model KM.SysControlAdmin.EN.Student___EN.Student

@{
    ViewData["Title"] = "Agregar Estudiante";
}

<h1>Agregar Nuevo Estudiante</h1>
<span>@ViewBag.Error</span>
<br />
<!-- Checkbox para "No soy del Proyecto" -->
<div class="form-group form-check">
    <input type="checkbox" id="notFromProject" class="form-check-input" />
    <h5 for="notFromProject" class="form-check-label">No soy del Proyecto</h5>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="Form" asp-action="Create" onsubmit="CreateRecord(event)" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodeProyect" class="control-label"></label>
                <input asp-for="CodeProyect" id="CodeProyect" class="form-control" placeholder="Ingresar" disabled />
                <span asp-validation-for="CodeProyect" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParticipantCode" class="control-label"></label>
                <input asp-for="ParticipantCode" id="ParticipantCode" class="form-control" placeholder="Ingresar" disabled />
                <span asp-validation-for="ParticipantCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Ingresar" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" placeholder="Ingresar" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" placeholder="Ingresar" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Church" class="control-label"></label>
                <input asp-for="Church" id="Church" class="form-control" placeholder="Ingresar" />
                <span asp-validation-for="Church" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select name="Status" class="form-select" required>
                    <option value="">Seleccionar</option>
                    <option value="1">Activo</option>
                    <option value="2">Inactivo</option>
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="imagen">Seleccionar Fotografía:</label>
                <input type="file" id="imagen" class="form-control" name="imagen" onchange="mostrarImagen()" asp-for="ImageData" />
            </div>
            <br />
            <div>
                <img id="imagenPreview" src="#" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 200px; display: none; border: 1px solid #d3d3d3;" />
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Agregar Estudiante" class="btn btn-primary" /> |
                <a class="btn btn-outline-secondary" asp-action="Index">Regresar a La Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        // Mostrar alerta de error
        function showErrorAlert(message) {
            Swal.fire({
                title: 'Error',
                text: message,
                icon: 'error'
            });
        }

        // Mostrar alerta de error de ViewBag.Error si es necesario
        @if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            @:showErrorAlert('@ViewBag.Error');
        }

        // Eventos automatizados al cargar el documento
        document.addEventListener("DOMContentLoaded", function () {
            const notFromProjectCheckbox = document.getElementById('notFromProject');
            const codeProyectInput = document.getElementById('CodeProyect');
            const participantCodeInput = document.getElementById('ParticipantCode');
            const churchInput = document.getElementById('Church');

            // Función para manejar el cambio de estado del checkbox
            function handleCheckboxChange() {
                if (notFromProjectCheckbox.checked) {
                    churchInput.disabled = true;
                    codeProyectInput.disabled = false;
                    participantCodeInput.disabled = false;
                } else {
                    churchInput.disabled = false;
                    codeProyectInput.disabled = true;
                    participantCodeInput.disabled = true;
                }
            }

            // Inicializar los inputs deshabilitados
            handleCheckboxChange();

            // Agregar el evento change al checkbox
            notFromProjectCheckbox.addEventListener('change', handleCheckboxChange);

            // Calcular la edad en base a la fecha de nacimiento
            const birthDateInput = document.querySelector('input[name="DateOfBirth"]');
            const ageInput = document.querySelector('input[name="Age"]');

            function calculateAge() {
                const birthDateValue = birthDateInput.value.trim();
                if (birthDateValue !== "") {
                    const birthDate = new Date(birthDateValue);
                    const currentDate = new Date();
                    let age = currentDate.getFullYear() - birthDate.getFullYear();

                    // Ajustar la edad si la fecha de nacimiento aún no ha ocurrido este año
                    if (birthDate.getMonth() > currentDate.getMonth() ||
                        (birthDate.getMonth() === currentDate.getMonth() && birthDate.getDate() > currentDate.getDate())) {
                        age--;
                    }
                    ageInput.value = age;
                } else {
                    ageInput.value = "";
                }
            }
            birthDateInput.addEventListener('change', calculateAge);
            calculateAge();
        });

        // Método para mostrar vista previa de la imagen seleccionada
        function mostrarImagen() {
            var archivo = document.getElementById('imagen').files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                var imagenPreview = document.getElementById('imagenPreview');
                imagenPreview.src = e.target.result;
                imagenPreview.style.display = 'block';
            };
            reader.readAsDataURL(archivo);
        }

        // Alerta con SweetAlert2 para crear un registro
        function CreateRecord(e) {
            e.preventDefault();
            const form = document.getElementById('Form');
            const inputs = document.querySelectorAll('.form-input');
            const nameFields = ['Name', 'LastName', 'Church'];
            const regex = /^[A-ZÑa-zñáéíóúÁÉÍÓÚ. ]+$/;

            let isValid = true;

            // Validar que los campos nameFields solo contengan letras, punto y espacios
            nameFields.forEach((field) => {
                const input = document.querySelector(`#${field}`);
                if (!regex.test(input.value)) {
                    isValid = false;
                }
            });

            // Si la validación falla, muestra una alerta advirtiendo al usuario
            if (!isValid) {
                Swal.fire({
                    title: '!Advertencia!',
                    text: 'Ciertos Campos Solo Deben Tener Letras, Revisa Tu Ficha',
                    icon: 'warning',
                    confirmButtonText: 'Aceptar'
                });
                return;
            }

            // Si todos los campos son válidos, muestra la alerta de confirmación
            Swal.fire({
                title: '¿Guardar Nuevo Estudiante?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Sí, Guardar Estudiante',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    form.submit();
                }
            });
        }
    </script>
}